
<!-- Basic Elements start -->
<section class="basic-elements">
  <form [formGroup]="tailorForm">
      <div class="row">
          <div class="col-sm-12">
              <div class="content-header">Partner OnBoarding</div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0"><i class="ft-info"></i>Type and Category Option</h4>
                </div>
                <div class="card-body">
                    <div class="px-3">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Business Type</label>
                                            <select  class="form-control" formControlName="_type" id="_type">
                                                <option>button</option>
                                                <option>fabric</option>
                                                <option>stiching</option>
                                            </select>
                                        </fieldset>  
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Category</label>
                                            <select class="form-control" formControlName="_category" id="_category">
                                                <option>material</option>
                                                <option>service</option>
                                            </select>
                                        </fieldset>  
                                    </div>
                                    <!-- <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect"> Business Categories</label>
                                            <select [(ngModel)]="selectedCountry.id" (change)="onSelect($event.target.value)" class="form-control" formControlName="businessCategory" id="businessCategory">
                                                <option value="0">--Select--</option>
                                                <option *ngFor="let country of countries" value= {{country.id}}>{{country.name}}</option>
                                            </select>
                                            <small class="form-text text-muted danger" *ngIf="!tailorForm.get('businessCategory').valid && (tailorForm.get('businessCategory').dirty || tailorForm.get('businessCategory').touched)">
                                                Categories is required!
                                            </small>
                                        </fieldset>  
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Specialisation</label>
                                            <select class="form-control" formControlName="selectSpecialisation" id="selectSpecialisation">
                                              <option *ngIf='selectedCountry.id == 0' value="0">--Select--</option>
                                              <option *ngFor="let state of states" value= {{state.id}}>{{state.name}}</option>
                                            </select>
                                        </fieldset>                                
                                    </div> -->
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Business Categories</label>
                                            <select class="form-control" formControlName="businessCategory" id="businessCategory">
                                                <option>Tailoring</option>
                                                <option>Men Fabric</option>
                                                <option>Women Fabric</option>
                                                <option>Cars Customization</option>
                                                <option>Bike Customization</option>
                                                <option>Other</option>
                                            </select>
                                            <small class="form-text text-muted danger" *ngIf="!tailorForm.get('businessCategory').valid && (tailorForm.get('businessCategory').dirty || tailorForm.get('businessCategory').touched)">
                                                Categories is required!
                                            </small>
                                        </fieldset>  
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12">
                                        <fieldset class="form-group">
                                            <label for="basicSelect">Specialisation</label>
                                            <select class="form-control" formControlName="selectSpecialisation" id="selectSpecialisation">
                                              <option>Men Regular Formals</option>
                                              <option>Men Jackets, Suits </option>
                                              <option>Men Bridal Wear </option>
                                              <option>Women Kurta & Gowns </option>
                                              <option>Women Formals </option>
                                              <option>Women Blouse & Sarees </option>
                                              <option>Women Salwar & Bridal Wear </option>
                                              <option>Seats </option>
                                              <option>Others </option>
                                              
                                            </select>
                                        </fieldset>                                
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title mb-0"><i class="ft-info"></i>Basic Information</h4>
                  </div>
                  <div class="card-body">
                      <div class="px-3">
                              <div class="form-body">
                                  <div class="row">
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Partner's Name</label>
                                              <input type="text" class="form-control" formControlName="_name" id="_name" placeholder="Enter Name">
                                              <small class="form-text text-muted danger" *ngIf="_name.touched && _name.invalid">
                                                      Partner's shop name is invalid!
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                              <fieldset class="form-group">
                                                  <label for="disabledInput">Short Description</label>
                                                  <input type="text" class="form-control" formControlName="_description" id="_description" placeholder="Enter Name">
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_description').valid && (tailorForm.get('_description').dirty || tailorForm.get('_description').touched)">
                                                      Description is required!
                                                  </small>
                                              </fieldset>
                                          </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Contact Person Name</label>
                                              <input type="text" class="form-control" formControlName="contactPerson" id="contactPerson" placeholder="Enter Name">
                                              <small class="form-text text-muted danger" *ngIf="contactPerson.touched && contactPerson.invalid">
                                                      Contact person's name is invalid!
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Designation</label>
                                              <input type="text" class="form-control" formControlName="designation" id="designation" placeholder="Enter Designation">
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('designation').valid && (tailorForm.get('designation').dirty || tailorForm.get('designation').touched)">
                                                      Designation is required!
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Email Address</label>
                                              <input type="email" class="form-control" formControlName="emailTailor"  id="emailTailor" placeholder="Enter Email Address" required>
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('emailTailor').valid && (tailorForm.get('emailTailor').dirty || tailorForm.get('emailTailor').touched)">
                                                      Email is invalid !
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Contact Number</label>
                                              <input type="text" class="form-control" formControlName="contactNumber" id="contactNumber" placeholder="Enter Contact Number">
                                              <small class="form-text text-muted danger" *ngIf="contactNumber.touched && contactNumber.invalid">
                                                      <div *ngIf="contactNumber.errors.required">Contact Number is required !</div>
                                                      <div *ngIf="contactNumber.errors.minlength">Contact Number should be 10 Digits</div>
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Whatsapp Number</label>
                                              <input type="text" class="form-control" formControlName="whatsappNumber" id="whatsappNumber" placeholder="Enter Whatsapp Number">
                                              <small class="form-text text-muted danger" *ngIf="whatsappNumber.touched && whatsappNumber.invalid">
                                                      <div *ngIf="whatsappNumber.errors.required">Contact Number is required !</div>
                                                      <div *ngIf="whatsappNumber.errors.minlength">Contact Number should be 10 characters</div>
                                              </small>
                                          </fieldset>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                  <h4 class="card-title mb-0"><i class="ft-map-pin"></i>Address</h4>
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <div class="form-body">
                              <div class="row" formGroupName="_address">
                                  <div class="col-xl-4 col-lg-6 col-md-12">
                                  <fieldset class="form-group">
                                      <label for="basicSelect">Select State</label>
                                      <select class="form-control" formControlName="selectState" id="selectState">
                                          <option>Karnataka</option>
                                          <option>Tamil Nadu</option>
                                      </select>
                                      <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_address.selectState').valid && (tailorForm.get('_address.selectState').dirty || tailorForm.get('_address.selectState').touched)">
                                          State is required!
                                      </small>
                                  </fieldset>                                
                                  </div>
                                  <div class="col-xl-4 col-lg-6 col-md-12">
                                      <fieldset class="form-group">
                                      <label for="basicSelect">Select city</label>
                                      <select class="form-control" formControlName="selectCity" id="selectCity">
                                          <option>Bangalore</option>
                                          <option>Chennai</option>
                                          <option>Salem</option>
                                          <option>Madurai</option>
                                      </select>
                                      <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_address.selectCity').valid && (tailorForm.get('_address.selectCity').dirty || tailorForm.get('_address.selectCity').touched)">
                                          City is required!
                                      </small>
                                      </fieldset>                                
                                  </div>
                                  <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                      <fieldset class="form-group">
                                      <label for="disabledInput">Enter Zip/Postal Code</label>
                                      <input type="number" class="form-control" formControlName="zipCode" id="zipCode" placeholder="Enter Zip code">
                                      <small class="form-text text-muted danger" *ngIf="zipCode.touched && zipCode.invalid">
                                              <div *ngIf="zipCode.errors.required">ZipCode is required !</div>
                                              <div *ngIf="zipCode.errors.minlength">ZipCode should be 6 characters</div>
                                      </small>
                                      </fieldset>
                                  </div>
                                  <div class="col-xl-4 col-lg-6 col-md-12">
                                      <fieldset class="form-group">
                                      <label for="placeTextarea">Enter Address</label>
                                      <textarea class="form-control" formControlName="fullAddress" id="fullAddress" rows="3" placeholder="Address"></textarea>
                                      <p><small class="text-muted">Street address, P.O. box, company name, c/o</small></p>
                                      <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_address.fullAddress').valid && (tailorForm.get('_address.fullAddress').dirty || tailorForm.get('_address.fullAddress').touched)">
                                              Address is required!
                                          </small>
                                      </fieldset>                                
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                  <h4 class="card-title mb-0"><i class="ft-map-pin"></i>Address</h4>
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <div class="form-body">
                              <div class="row">
                                  <div class="col-md-12">
                                      <p>If current location isn't correct. <b> Use marker </b> and <b> point to exact location.</b></p>
                                      <!-- maps operation -->
                                      <agm-map scaleControl="true" [latitude]="lat" [longitude]="lng" (mapClick)="onChangeLocation($event)">
                                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                      </agm-map>
                                  </div>
                                  <div class="col-md-12 text-center">
                                          <button (click)="getCurrentLocation()" type="button" class="btn-sm btn-raised btn-primary mr-1">
                                                  <i class="ft-map-pin"></i> Get current location
                                          </button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header">
                          <h4 class="card-title mb-0">Tailor Images</h4>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <div class="form-body" formArrayName = "_images">
                                      <div class="row"  *ngFor="let imageCntrl of tailorForm.get('_images').controls; let i = index"
                                      formGroupName="i">
                                              <div class="col-lg-10 col-md-10 mb-1">
                                                      <fieldset class="form-group">
                                                              <label for="images">Enter Image Link</label>
                                                              <input class="form-control" formControlName="image" id="image" placeholder="image link">
                                                      </fieldset>  
                                              </div>
                                              <div class="col-md-2" style="margin-top:32px;">
                                                      <button type="button" class="btn btn-raised btn-danger">
                                                          X
                                                      </button>
                                              </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12">
                                              <button  
                                                  type="button" 
                                                  (click)="onAddImage()" 
                                                  class="btn btn-danger btn-raised">
                                                  Add Image
                                              </button>
                                          </div>
                                      </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div> -->

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title mb-0">More Information</h4>
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <div class="form-body">
                                  <div class="row">
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Year of Established</label>
                                              <input type="date" class="form-control" formControlName="yearEstablished" id="yearEstablished" placeholder="Enter Year">
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('yearEstablished').valid && (tailorForm.get('yearEstablished').dirty || tailorForm.get('yearEstablished').touched)">
                                                      Established Year is required!
                                              </small>
                                          </fieldset>
                                      </div>

                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Regular Delivery</label>
                                              <input type="number" class="form-control" formControlName="daysRegularDelivery" id="daysRegularDelivery" placeholder="Enter Days">
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('daysRegularDelivery').valid && (tailorForm.get('daysRegularDelivery').dirty || tailorForm.get('daysRegularDelivery').touched)">
                                                      Regular Delivery days is invalid!
                                              </small>
                                          </fieldset>
                                      </div>
                                      <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                          <fieldset class="form-group">
                                              <label for="disabledInput">Express Delivery</label>
                                              <input type="number" class="form-control" formControlName="daysExpressDelivery" id="daysExpressDelivery" placeholder="Enter Days">
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('daysExpressDelivery').valid && (tailorForm.get('daysExpressDelivery').dirty || tailorForm.get('daysExpressDelivery').touched)">
                                                      Express Delivery is invalid!
                                              </small>
                                          </fieldset>
                                      </div>

                                      <div class="col-xl-4 col-lg-6 col-md-12">
                                              <fieldset class="form-group">
                                                  <label for="countrySelect">Services Offered</label>
                                                  <select class="form-control" formControlName="selectService" id="selectService" multiple="multiple">
                                                      <option>Tailoring Men</option>
                                                      <option>Tailoring Women</option>
                                                      <option>Fabrics</option>
                                                      <option>Buttons</option>
                                                      <option>Other</option>
                                                  </select>
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('selectService').valid && (tailorForm.get('selectService').dirty || tailorForm.get('selectService').touched)">
                                                          Services Offered is required!
                                                  </small>
                                              </fieldset>                                
                                      </div>
                                  </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Product Card</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                                <div class="form-body" formArrayName="_products">
                                        <div 
                                        class="row"
                                        *ngFor="let itemCtrl of formData.controls; let i = index"
                                        [formGroupName]="i">

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">Product Name</label>
                                                <input type="text" class="form-control" formControlName="productName" id="productName" placeholder="Enter Name">
                                            </fieldset>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">Product Description</label>
                                                <input type="text" class="form-control" formControlName="productDescription" id="productDescription" placeholder="Enter Description">
                                            </fieldset>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">Product's Price</label>
                                                <input type="number" class="form-control" formControlName="productPrice" id="productPrice" placeholder="Enter Price">
                                            </fieldset>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                <fieldset class="form-group">
                                                    <label for="disabledInput">Offer</label>
                                                    <input type="text" class="form-control" formControlName="productOffer" id="productOffer" placeholder="Enter Offer">
                                                </fieldset>
                                            </div>

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                <fieldset class="form-group">
                                                    <label for="disabledInput">Quantity</label>
                                                    <input type="number" class="form-control" formControlName="productQuantity" id="productQuantity" placeholder="Enter Quantity">
                                                </fieldset>
                                        </div>

                                        <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                            <fieldset class="form-group">
                                                <label for="disabledInput">Enter Image Link</label>
                                                <input type="text" class="form-control" formControlName="productImgLink" id="productImgLink" placeholder="Enter Image Link here">
                                            </fieldset>
                                        </div>
                                        
                                        
                                        <div class="col-md-2 right">
                                              <button type="button" class="btn btn-raised btn-danger">
                                                  X
                                              </button>
                                        </div>
                                      </div>
                                </div>

                                <div class="row">
                                      <div class="col-md-12 right">
                                          <button type="button" (click)="onAddProducts()" class="btn btn-sm btn-raised btn-primary">Add New Product</button>
                                      </div>
                                </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title" id="horz-layout-colored-controls">Personal Details</h4>
                  </div>
                  <div class="card-body">
                      <div class="px-3">
                                  <h4 class="form-section"><i class="ft-trending-up"></i> Business Details</h4>
                                  <div class="row" formGroupName="_personal">
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="col-md-3 label-control" for="pancard">PAN No: </label>
                                              <div class="col-md-9">
                                                  <input type="text" formControlName="panCardNumber" id="panCardNumber"  placeholder="Enter PAN Number" class="form-control border-primary"  name="firstname">
                                              </div>
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_personal.panCardNumber').valid && (tailorForm.get('_personal.panCardNumber').dirty || tailorForm.get('_personal.panCardNumber').touched)">
                                                      PAN Card Number is invalid!
                                              </small>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                              <div class="form-group row">
                                                  <label class="col-md-3 label-control" for="userinput2">GST: </label>
                                                  <div class="col-md-9">
                                                      <input type="text" formControlName="gstNumber" id="gstNumber" placeholder="Enter GST Number" class="form-control border-primary"  name="gst">
                                                  </div>
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_personal.gstNumber').valid && (tailorForm.get('_personal.gstNumber').dirty || tailorForm.get('_personal.gstNumber').touched)">
                                                          GST Number is invalid!
                                                  </small>
                                              </div>
                                      </div> 

                                      <!-- Pan Image
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                                      <label class="col-md-3 label-control">PAN Image:</label>
                                                      <div class="col-md-9">
                                                          <label id="panImage" class="file center-block">
                                                              <input type="file" id="panImage">
                                                              <span class="file-custom"></span>
                                                          </label>
                                                      </div>
                                          </div>
                                      </div>                            -->
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                                  <label class="col-md-6 label-control" for="userinput2">Open to go for visits</label>
                                                  <select class="form-control col-md-6" formControlName="openToVisit" id="openToVisit">
                                                      <option>Yes</option>
                                                      <option>No</option>
                                                  </select>
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_personal.openToVisit').valid && (tailorForm.get('_personal.openToVisit').dirty || tailorForm.get('_personal.openToVisit').touched)">
                                                          Open to Visit is invalid!
                                                  </small>
                                          </div>
                                      </div>


                                      <div class="col-md-6">
                                              <div class="form-group row">
                                                  <label class="col-md-6 label-control" for="userinput2">Number of Tailors working: </label>
                                                  <div class="col-md-6">
                                                      <input type="number" formControlName="noOfTailorWorking" id="noOfTailorWorking" placeholder="Enter Numbers of tailor" class="form-control border-primary"  name="nofotailors">
                                                  </div>
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_personal.noOfTailorWorking').valid && (tailorForm.get('_personal.noOfTailorWorking').dirty || tailorForm.get('_personal.noOfTailorWorking').touched)">
                                                          Tailors Working is invalid!
                                                  </small>
                                              </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                                  <label class="col-md-6 label-control" for="userinput2">Agree 1 Free Trail/Alternation policy for stitching?</label>
                                                  <select class="form-control col-md-6" formControlName="agreeOneFreeTrail" id="agreeOneFreeTrail">
                                                      <option>Yes</option>
                                                      <option>No</option>
                                                  </select>
                                                  <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_personal.agreeOneFreeTrail').valid && (tailorForm.get('_personal.agreeOneFreeTrail').dirty || tailorForm.get('_personal.agreeOneFreeTrail').touched)">
                                                          Agree 1 Free Trail policy for stitching is invalid!
                                                  </small>
                                          </div>
                                      </div>
                                  </div>

                              <h4 class="form-section"><i class="ft-credit-card"></i> Bank Details</h4>

                                  <div class="row" formGroupName="_bank">
                                      <div class="col-md-6">
                                          <div class="form-group row">
                                              <label class="col-md-3 label-control" for="bankAccountNumber">Account Number: </label>
                                              <div class="col-md-9">
                                                  <input class="form-control border-primary" placeholder="Enter Account Number" type="number" formControlName="bankAccountNumber"  id="bankAccountNumber">
                                              </div>
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_bank.bankAccountNumber').valid && (tailorForm.get('_bank.bankAccountNumber').dirty || tailorForm.get('_bank.bankAccountNumber').touched)">
                                                      Account Number is invalid!
                                              </small>
                                          </div>

                                          <div class="form-group row">
                                              <label class="col-md-3 label-control" for="userinput6">IFSC code: </label>
                                              <div class="col-md-9">
                                                  <input class="form-control border-primary" placeholder="Enter IFSC Code" type="text" formControlName="bankIfscCode"  id="bankIfscCode">
                                              </div>
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_bank.bankIfscCode').valid && (tailorForm.get('_bank.bankIfscCode').dirty || tailorForm.get('_bank.bankIfscCode').touched)">
                                                      IFSC is invalid!
                                              </small>
                                          </div>

                                          <div class="form-group row">
                                              <label class="col-md-3 label-control">Bank Name: </label>
                                              <div class="col-md-9">
                                                  <input class="form-control border-primary" placeholder="Enter Bank Name" type="text" formControlName="bankName"  id="bankName">
                                              </div>
                                              <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_bank.bankName').valid && (tailorForm.get('_bank.bankName').dirty || tailorForm.get('_bank.bankName').touched)">
                                                      Bank Name is invalid!
                                              </small>
                                          </div>
                                      
                                      </div>
                                      <div class="col-md-6">
                                              <div class="form-group row">
                                                      <label class="col-md-3 label-control">Branch Name: </label>
                                                      <div class="col-md-9">
                                                          <input class="form-control border-primary" placeholder="Enter Branch Name" type="text" formControlName="bankBranchName"  id="bankBranchName">
                                                      </div>
                                                      <small class="form-text text-muted danger" *ngIf="!tailorForm.get('_bank.bankBranchName').valid && (tailorForm.get('_bank.bankBranchName').dirty || tailorForm.get('_bank.bankBranchName').touched)">
                                                              Branch Name is invalid!
                                                      </small>
                                                  </div>

                                              <!-- <div class="form-group row">
                                                          <label class="col-md-3 label-control">Cheque Book Image: </label>
                                                          <div class="col-md-9">
                                                              <label id="bankCheckBookImage" class="file center-block">
                                                                  <input type="file" id="bankCheckBookImage">
                                                                  <span class="file-custom"></span>
                                                              </label>
                                                          </div>
                                              </div> -->

                                          </div>
                                  </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="row" hidden>
              <div class="input-group mb-2">
                      <input type="text" class="form-control" formControlName="_category" id="_category" placeholder="Enter Name">
              </div>
      </div>

      <div class="row" hidden>
              <div class="input-group mb-2">
                      <input type="text" class="form-control" formControlName="_type" id="_type" placeholder="Enter Name">
              </div>
      </div> -->

      <div class="row">
              <div class="col-sm-12">
                      <div class="card">
                                  <div class="form-actions text-center">
                                          <button (click)="onCancel()" type="button" class="btn-lg btn-raised btn-warning mr-1">
                                              <i class="ft-x"></i> Cancel
                                          </button>
                                          <button (click)="onSubmit()" type="submit" class="btn-lg btn-raised btn-primary">
                                              <i class="fa fa-check-square-o"></i> Save
                                          </button>
                                  </div>
                      </div>
              </div>
      </div>
  </form>
</section>
<!-- Basic Inputs end -->




