<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
      <div class="row full-height-vh">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="card card-inverse gradient-indigo-purple text-center width-400">
                  <div class="card-img overlap">
                      <img alt="element 06" class="mb-1" src="assets/img/portrait/avatars/avatar-08.png" width="190">
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <h2>Login</h2>
                          <form #f="ngForm" (ngSubmit)="login(f.value)" >
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="text" minlength="5" class="form-control" name="username" id="username" placeholder="Username" ngModel required>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input minlength="5" type="password" class="form-control" name="_password" id="password" placeholder="Password" ngModel required>
                                  </div>
                              </div>

                              <div *ngIf="invalidLogin == true" class="alert alert-danger">The Username and Password is incorrect</div>

                                <div class="custom-control custom-checkbox form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                                            <label class="custom-control-label custom-checkbox mb-2 mr-sm-2 mb-sm-0" for="customCheck1">
                                                <span class="custom-control-indicator ml-4"></span>
                                                    <span class="pl-2">Remember Me</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                  <div class="col-md-12">
                                      <button type="submit" class="btn btn-pink btn-block btn-raised">Login</button>
                                      <button type="button" (click)="onCancel()" class="btn btn-secondary btn-block btn-raised">Cancel</button>
                                  </div>
                        
                          </form>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="float-left"><a (click)="onForgotPassword()">Recover Password</a></div>
                      <div class="float-right"><a (click)="onRegister()">New User?</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Login Page Ends-->
