<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Developers</h4>
			</div>
			<div class="card-body">
				<div class="card-block">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 2.0</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<h3>Added</h3>
					<ol>
						<li>Taskboard</li>
						<li>Audio Player</li>
						<li>Video Player</li>
						<li>Chat - Audio & Video</li>
						<li>Drag n Drop</li>
						<li>Tour</li>
					</ol>
					<h3>Updated</h3>
					<ol>
						<li>Updated to Angular 5+</li>
						<li>Updated starter kit to Angular 5+</li>
						<li>Documentation</li>
						<li>Calendar</li>
						<li>Sweet Alert</li>
						<li>Data Tables</li>
						<li>Quill Editor</li>
					</ol>
					<h3>Fixed</h3>
					<ol>
						<li>Minor Bugs & design flaws</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>