<!-- Wizard Starts -->
<div class="row">
  <div class="col-sm-12">
      <div class="content-header">Wizard Forms</div>
  </div>
</div>
<section id="icon-tabs">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Fabric OnBoarding Form</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form class="icons-tab-steps wizard-circle" [formGroup]="fabricForm">
            <!-- Step 1 -->
            <h6>Basic</h6>
            <fieldset>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="basicSelect">Business Type</label>
                    <select class="form-control" formControlName="_type" id="_type">
                        <option selected>fabric</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="basicSelect"> Business Categories</label>
                          <select class="form-control" formControlName="_category" id="_category">
                              <option selected>material</option>
                          </select>
                  </div>
                </div>
              </div>

              <div class="row"  formGroupName="_basicInfo">
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="disabledInput">Partner's Name</label>
                      <input type="text" class="form-control" formControlName="_name" id="_name" placeholder="Enter Name">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="disabledInput">Short Description</label>
                        <input type="text" class="form-control" formControlName="_description" id="_description" placeholder="Enter Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="disabledInput">Contact Person Name</label>
                          <input type="text" class="form-control" formControlName="contactPerson" id="contactPerson" placeholder="Enter Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Designation</label>
                            <input type="text" class="form-control" formControlName="designation" id="designation" placeholder="Enter Designation">                      
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Email Address</label>
                            <input type="email" class="form-control" formControlName="emailPartner"  id="emailPartner" placeholder="Enter Email Address" required>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="basicSelect">Specialisation</label>
                            <select class="form-control" formControlName="selectSpecialisation" id="selectSpecialisation">
                                <option>Men</option>
                                <option>Women</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                         <label for="disabledInput">Contact Number</label>
                          <input type="text" class="form-control" formControlName="contactNumber" id="contactNumber" placeholder="Enter Contact Number">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Whatsapp Number</label>
                            <input type="text" class="form-control" formControlName="whatsappNumber" id="whatsappNumber" placeholder="Enter Whatsapp Number">
                        </div>
                    </div>

              </div>

            </fieldset>
            <!-- Step 2 -->
            <h6>Address</h6>
            <fieldset>
              <div class="row" formGroupName="_address">
                  <!-- <div class="row" formGroupName="_address> -->
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="basicSelect">Select State</label>
                      <select class="form-control" formControlName="selectState" id="selectState">
                          <option>Karnataka</option>
                          <option>Tamil Nadu</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="basicSelect">Select city</label>
                      <select class="form-control" formControlName="selectCity" id="selectCity">
                          <option>Bangalore</option>
                          <option>Chennai</option>
                          <option>Salem</option>
                          <option>Madurai</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="disabledInput">Enter Zip/Postal Code</label>
                      <input type="number" class="form-control" formControlName="zipCode" id="zipCode" placeholder="Enter Zip code">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="placeTextarea">Enter Address</label>
                      <textarea class="form-control" formControlName="fullAddress" id="fullAddress" rows="3" placeholder="Address"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Step 3 -->
            <h6>Service</h6>
            <fieldset>
              <div class="row" formGroupName="_service">
                <div class="col-md-6">
                  <div class="form-group">
                      <label for="disabledInput">Year of Established</label>
                      <input type="date" class="form-control" formControlName="yearEstablished" id="yearEstablished" placeholder="Enter Year">
                  </div>
                  <div class="form-group">
                      <label for="disabledInput">Regular Delivery</label>
                      <input type="number" class="form-control" formControlName="daysRegularDelivery" id="daysRegularDelivery" placeholder="Enter Days">
                  </div>
                  <div class="form-group">
                      <label for="disabledInput">Express Delivery</label>
                      <input type="number" class="form-control" formControlName="daysExpressDelivery" id="daysExpressDelivery" placeholder="Enter Days">
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="label-control" for="userinput2">Open to go for visits</label>
                        <select class="form-control" formControlName="openToVisit" id="openToVisit">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>

                  <div class="form-group">
                      <label for="countrySelect">Services Offered</label>
                      <select class="form-control" formControlName="selectService" id="selectService" multiple="multiple">
                          <option>Home Delivery</option>
                          <option>Measurement at home</option>
                          <option>Sample Measurement</option>
                      </select>
                    </div>

                   
                </div>
                
              </div>
            </fieldset>
            <!-- Step  -->
            <h6>Products</h6>
            <fieldset formArrayName="_products">
              <div class="row">
                <div
                class="row"
                *ngFor="let itemCtrl of fabricFormData.controls; let i = index"
                [formGroupName]="i">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="disabledInput">Product Name</label>
                      <input type="text" class="form-control" formControlName="productName" id="productName" placeholder="Enter Name">
                    </div>

                    <div class="form-group">
                        <label for="disabledInput">Product Description</label>
                        <input type="text" class="form-control" formControlName="productDescription" id="productDescription" placeholder="Enter Description">
                    </div>

                    <div class="form-group">
                        <label for="disabledInput">Product's Price</label>
                        <input type="number" class="form-control" formControlName="productPrice" id="productPrice" placeholder="Enter Price">
                    </div>
      
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="disabledInput">Offer</label>
                          <input type="text" class="form-control" formControlName="productOffer" id="productOffer" placeholder="Enter Offer">
                      </div>

                    <div class="form-group">
                        <label for="disabledInput">Quantity</label>
                        <input type="number" class="form-control" formControlName="productQuantity" id="productQuantity" placeholder="Enter Quantity">
                    </div>

                    <!-- <div class="form-group">
                        <label for="ProductImage">Image</label>
                        <input class="form-control border-primary" placeholder="Enter Account Number" type="file"  id="productImage">
                    </div> -->
                  </div>
              </div>
              </div>

              <button type="button" ng-click="onAddProducts()" class="btn btn-sm btn-raised btn-primary">Add New Product</button>
            
            </fieldset>
            <!-- Step 4 -->
            <h6>Documents</h6>
            <fieldset>
              <div class="row" formGroupName="_documents">
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="pancard">PAN Number</label>
                    <input type="text" formControlName="panCardNumber" id="panCardNumber"  placeholder="Enter PAN Number" class="form-control border-primary"  name="panNumber">
                  </div>

                  <div class="form-group">
                    <label for="userinput2">GST</label>
                    <input type="text" formControlName="gstNumber" id="gstNumber" placeholder="Enter GST Number" class="form-control border-primary"  name="gst">
                  </div>

                  <div class="form-group">
                      <label for="bankName">Bank Name</label>
                      <input class="form-control border-primary" placeholder="Enter Bank Name" type="text" formControlName="bankName"  id="bankName">
                  </div>
    

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="branchName">Branch Name</label>
                        <input class="form-control border-primary" placeholder="Enter Branch Name" type="text" formControlName="bankBranchName"  id="bankBranchName">
                    </div>

                  <div class="form-group">
                    <label for="ifscCode">IFSC code</label>
                    <input class="form-control border-primary" placeholder="Enter IFSC Code" type="text" formControlName="bankIfscCode"  id="bankIfscCode">
                  </div>

                  <div class="form-group">
                      <label for="bankAccountNumber">Account Number</label>
                      <input class="form-control border-primary" placeholder="Enter Account Number" type="number" formControlName="bankAccountNumber"  id="bankAccountNumber">
                  </div>

                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Wizard Ends -->