      <div class="row">
          <div class="col-md-12">
             <!-- <data-table
              [items]="items"
              [itemCount]="itemCount"
              (reload)="reloadItems($event)">
                  <data-table-column
                    [property]="'title'"
                    [header]="'Title'"
                    [sortable]="true"
                    [resizable]="true">
                    
                    <data-table-column
                      [property]="'price'"
                      [header]="'Price'"
                      [sortable]="true"
                      [resizable]="true">

                      <ng-template #dataTableCell let-item="product">
                        {{ product.price | currency: 'USD':true }} </ng-template>
                    </data-table-column>
                  
                  <data-table-column
                    [property]="'$key'">

                    <ng-template #dataTableCell let-item="product">
                     <a [routerLink]="['/tailor-detail', p.$key]">Edit</a></ng-template>
                  </data-table-column>

             </data-table> -->
            <!-- <div class="row">
                <div class="col-sm-12">
                    <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...' (keyup)='updateFilter($event)'
                    />
                    <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
                    </ngx-datatable>
                </div>
            </div> -->

             <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Title</th>
                    <th>Address</th>
                    <th>Basic Details</th>
                    <th>Delivery</th>
                    <th>Personal</th>
                    <th>productName</th>
                    <th>Banking</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of tailors$ | async; let i = index" [attr.data-index]="i">
                    <td>{{i+1}}</td>

                    <td>{{t._name}}</td>

                    <td>
                      <p>{{t._address.selectState}}</p>
                      <p>{{t._address.selectCity}}</p>
                      <small>{{t._address.fullAddress}}</small>
                    </td>

                    <td>
                      <p>Email: <small>{{t.emailTailor}}</small>  </p>
                      <p>Description: <small>{{t._description}}</small> </p>
                      <p>Contact Person: <small>{{t.contactPerson}}</small> </p>
                      <p>Designation: <small>{{t.designation}}</small> </p>
                      <p>Contact Number: <small>{{t.contactNumber}}</small> </p>
                      <p>Whatsapp Number: <small>{{t.whatsappNumber}}</small> </p>
                    </td>

                    <td>
                      <p>Express Delivery: <small>{{t.daysExpressDelivery}}</small></p>
                      <p>Regular Delivery: <small>{{t.daysRegularDelivery}}</small></p>
                    </td>

                    <td>
                      <p>PAN: <small>{{t._personal.panCardNumber}}</small> </p>
                      <p>GST: <small>{{t._personal.gstNumber}}</small> </p>
                      <p>Open to Visit: <small>{{t._personal.openToVisit}}</small></p>
                      <p>Tailor Working: <small>{{t._personal.noOfTailorWorking}}</small> </p>
                    </td>

                    <td>
                        <ul *ngFor="let p of t._products" class="list-unstyled">
                        <li>Name: <small>{{p.productName}}</small></li>
                        <li>Description: <small>{{p.productDescription}}</small></li>
                        <li>Price: <small>{{p.productPrice}}</small></li>
                        <li>Offer: <small>{{p.productOffer}} %</small></li>
                        <li>Quantity: <small>{{p.productQuantity}}</small></li>
                        </ul>
                    </td>

                    <td>
                        <p>Name: <small>{{t._bank.bankName}}</small> </p>
                        <p>Account No: <small> {{t._bank.bankAccountNumber}}</small></p>
                        <p>IFSC: <small>{{t._bank.bankIfscCode}}</small> </p>
                        <p>Branch: <small>{{t._bank.bankBranchName}}</small> </p>
                    </td>
                  </tr>
                </tbody>
             </table>
          </div>
      </div>

      