<!--Registration Page Starts-->
<section id="regestration">
  <div class="container">
      <div class="row full-height-vh">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="card">
                  <div class="card-body">
                      <div class="row d-flex">
                          <div class="col-12 col-sm-12 col-md-6 gradient-deep-orange-orange">
                              <div class="card-block">
                                  <div class="card-img overlap">  
                                      <img alt="Card image cap" src="assets/img/elements/13.png" width="350" class="mx-auto d-block">
                                  </div>
                                  <h2 class="card-title font-large-1 text-center white mt-3">Registration</h2>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
                              <div class="card-block mx-auto">
                                  <form   (ngSubmit)="onSubmit()" #f="ngForm">

                                      <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                          <input type="text" class="form-control" name="fname" id="fname" placeholder="Name" ngModel required >
                                      </div>

                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="basic-addon1">@</span>
                                        </div>
                                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" ngModel required email aria-describedby="basic-addon1">
                                      </div>

                                      <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="ft-lock"></i>
                                                    </span>
                                                </div>
                                          <input type="password" class="form-control" name="inputPass" id="inputPass" placeholder="Password" ngModel required >
                                      </div>

                                      <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="ft-lock"></i>
                                                    </span>
                                                </div>
                                        <input type="password" class="form-control" name="admininputPass" id="inputPass" placeholder="Admin Password" ngModel required >
                                      </div>

                                      <div class="custom-control custom-checkbox form-group col-sm-offset-1">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">
                                                    <span class="pl-2">I agree <a>terms and conditions</a></span>
                                            </label>
                                      </div>

                                      <div class="form-group text-center">
                                          <button type="button" class="btn btn-warning btn-raised" [disabled]="!f.valid">Get Started</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Registration Page Ends-->